body{
  background-color:whit;
  color: grey;
  font-style: italic;
  font-size: 40px;
  color: white;

}


.phead{
  margin-top:40px ;
  font-size: 30px;
  color: white;
  
}
footer{
  text-align: center;
}